<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ecology App - вплив речовин</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="wrapper min-vh-100 d-flex flex-column">
      <%- include('../partials/header.ejs') %>
      <main class="flex-grow-1 flex-shrink-1 flex">
        <section class="py-5">
          <div class="container-xl">
            <div class="text-center">
              <h1>Вплив стану повітря на здоров'я людей</h1>
            </div>
            <form
              class="mt-4 form-validate d-flex flex-column gap-3 col-12 col-sm-8 col-md-7 col-lg-6 col-xl-5 mx-auto"
              action="/impact"
              method="POST"
              novalidate
            >
              <div>
                <label class="form-label" for="objectName"
                  >Назва підприємства <span class="text-danger">*</span></label
                >
                <input
                  class="form-control"
                  list="objectList"
                  id="objectName"
                  name="impact[object]"
                  placeholder="Шукати підприємство..."
                  required
                />
                <datalist id="objectList">
                  <% objects.forEach(object => { %>
                  <option value="<%=object.object_name %>"></option>
                  <% }) %>
                </datalist>
                <div class="invalid-feedback">
                  Будь ласка, введіть назву підприємства
                </div>
              </div>
              <div>
                <label class="form-label" for="year"
                  >Рік <span class="text-danger">*</span></label
                >
                <input
                  class="form-control"
                  type="number"
                  min="2016"
                  max="2021"
                  id="year"
                  name="impact[year]"
                  required
                />
                <div class="invalid-feedback">Будь ласка, введіть рік</div>
              </div>
              <button class="btn btn-primary" type="submit">
                Оцінити вплив
              </button>
            </form>
            <div class="mt-5">
              <% if (typeof nonCarcinogenicRisks != 'undefined') { %>
              <hr class="mt-5" />
              <p class="text-center fw-medium fs-3 mt-5">
                Підприємство: <%= object %> <br />
                Рік: <%= year %>
              </p>
              <hr class="mt-5" />
              <% if (nonCarcinogenicRisks.length > 0) { %>
              <div class="mt-5">
                <h2 class="text-center">Неканцерогенний вплив</h2>
                <div class="table-responsive mt-3">
                  <table class="table table-striped table-bordered">
                    <thead>
                      <tr class="align-middle">
                        <th scope="col">#</th>
                        <th scope="col">Забрудник</th>
                        <th scope="col">Кількість викидів (т/рік)</th>
                        <th scope="col">Концентрація</th>
                        <th scope="col">RFC</th>
                        <th scope="col">Клас небезпеки</th>
                        <th scope="col">HQ</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% nonCarcinogenicRisks.forEach((risk, index) => { %>
                      <tr>
                        <th scope="row"><%= index + 1 %></th>
                        <th class="fw-normal"><%= risk.pollutant_name %></th>
                        <td><%= risk.pollution_value %></td>
                        <td><%= risk.concentration %></td>
                        <td><%= risk.rfc %></td>
                        <td><%= risk.danger_class %></td>
                        <td><%= risk.hq ? risk.hq.toFixed(4) : risk.hq %></td>
                      </tr>
                      <% }); %>
                    </tbody>
                  </table>
                </div>
              </div>
              <% if (typeof hq != 'undefined') { %>
              <p class="text-center fs-5 mt-2">
                <span class="fw-medium"
                  >Сумма коефіцієнтів небезпеки (HQ):</span
                >
                <%= hq.toFixed(4) %>
              </p>
              <p class="text-center fs-5">
                <span class="fw-medium">Ризик:</span> <% if (hq < 1) { %>
                зневажливо малий <% } else if (hq === 1) { %> гранична величина
                <% } else { %> імовірність розвитку шкідливих ефектів зростає
                пропорційно збільшенню HQ <% } %>
              </p>
              <% } } else { %>
              <p class="fs-5 text-center fw-medium mt-5">
                Інформація про неканцерогенний вплив відстуня
              </p>
              <% } } %> <% if (typeof carcinogenicRisks != 'undefined') { %>
              <hr class="mt-5" />
              <% if (carcinogenicRisks.length > 0) { %>
              <div class="mt-5">
                <h2 class="text-center">Канцерогенний вплив</h2>
                <div class="table-responsive mt-3">
                  <table class="table table-striped table-bordered">
                    <thead>
                      <tr class="align-middle">
                        <th scope="col">#</th>
                        <th scope="col">Забрудник</th>
                        <th scope="col">Кількість викидів (т/рік)</th>
                        <th scope="col">Концентрація</th>
                        <th scope="col">SFI</th>
                        <th scope="col">Клас небезпеки</th>
                        <th scope="col">UR</th>
                        <th scope="col">CR</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% carcinogenicRisks.forEach((risk, index) => { %>
                      <tr>
                        <th scope="row"><%= index + 1 %></th>
                        <th class="fw-normal"><%= risk.pollutant_name %></th>
                        <td><%= risk.pollution_value %></td>
                        <td><%= risk.concentration %></td>
                        <td><%= risk.sfi %></td>
                        <td><%= risk.danger_class %></td>
                        <td><%= risk.ur ? risk.ur.toFixed(4) : risk.ur %></td>
                        <td><%= risk.cr ? risk.cr.toFixed(4) : risk.cr %></td>
                      </tr>
                      <% }); %>
                    </tbody>
                  </table>
                </div>
              </div>
              <% if (typeof cr != 'undefined') { %>
              <p class="text-center fs-5 mt-2">
                <span class="fw-medium"
                  >Сумма індивідуальнх канцерогенних ризиків (CR):</span
                >
                <%= cr.toFixed(4) %>
              </p>
              <p class="text-center fs-5">
                <span class="fw-medium">Ризик:</span> <% if (cr < 1e-6) { %>
                мінімальний - бажана (цільова) величина ризику при проведенні
                оздоровчих і природоохоронних заходів <% } else if (cr >= 1e-6
                && cr <= 1e-4) { %> низький - припустимий ризик (рівень, на
                якому, як правило, встановлюються гігієнічні нормативи для
                населення) <% } else if (cr >= 1e-4 && cr <= 1e-3) { %> середній
                - припустимий для виробничих умов; за впливу на все населення
                необхідний динамічний контроль і поглиблене вивчення джерел і
                можливих наслідків шкідливих впливів для вирішення питання про
                заходи з управління ризиком <% } else { %> високий (De
                Manifestis) - не прийнятний для виробничих умов і населення.
                Необхідне здійснення заходів з усунення або зниження ризику <% }
                %>
              </p>
              <% } } else { %>
              <p class="fs-5 text-center fw-medium mt-5">
                Інформація про канцерогенний вплив відстуня
              </p>
              <% } } %> <% if (typeof pcr != 'undefined') { %>
              <hr class="mt-5" />
              <% if (pcr) { %>
              <p class="text-center fs-5 mt-5">
                <span class="fw-medium">Популяційний ризик (PCR):</span> <%=
                pcr.toFixed(4) %>
              </p>
              <% } else { %>
              <p class="fs-5 text-center fw-medium mt-5">
                Інформація про популяційний ризик (PCR) відстуня
              </p>
              <% } }%>
            </div>
          </div>
        </section>
      </main>
      <%- include('../partials/footer.ejs') %>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"
    ></script>
    <script src="/js/setActiveNavLink.js"></script>
    <script src="/js/validateForms.js"></script>
  </body>
</html>
