<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ecology App - Підприємства</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="wrapper min-vh-100 d-flex flex-column">
      <%- include('../partials/header.ejs') %>
      <main class="flex-grow-1 flex-shrink-1 flex">
        <section class="py-5">
          <div class="container-xl">
            <div
              class="d-flex flex-wrap row-gap-2 p-3 border <% if (objectItems.length > 0) { %> border-bottom-0 <% } %>"
            >
              <div class="text-center text-sm-start col-12 col-sm-6">
                <h1>Підприємства</h1>
              </div>
              <div
                class="col-12 col-sm-6 d-flex flex-wrap justify-content-center justify-content-sm-end align-items-center gap-2"
              >
                <a class="btn btn-success" href="/objects/new"
                  >Додати підприємство</a
                >
              </div>
            </div>
            <% if (objectItems.length <= 0) { %>
            <div class="alert alert-info my-4">
              <p class="text-center m-0 fs-6">Підприємства відсутні.</p>
            </div>
            <% } else { %>
            <div class="table-responsive">
              <table class="table table-striped table-bordered mb-5">
                <thead>
                  <tr class="align-middle">
                    <th scope="col">#</th>
                    <th scope="col">Назва</th>
                    <th scope="col">Вид діяльності</th>
                    <th scope="col">Форма власності</th>
                    <th scope="col">Адреса</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <% objectItems.forEach(object => { %>
                  <tr>
                    <th scope="row"><%= object.object_id %></th>
                    <td><%= object.object_name %></td>
                    <td><%= object.activity %></td>
                    <td><%= object.ownership_form %></td>
                    <td><%= object.address %></td>
                    <td class="align-middle">
                      <div class="d-flex flex-column gap-2">
                        <a
                          class="btn btn-sm btn-warning"
                          href="/objects/<%= object.object_id %>/edit"
                          >Edit</a
                        >
                        <form
                          action="/objects/<%= object.object_id %>?_method=DELETE"
                          method="POST"
                        >
                          <input
                            class="btn btn-sm btn-danger w-100"
                            type="submit"
                            value="Delete"
                          />
                        </form>
                      </div>
                    </td>
                  </tr>
                  <% }); %>
                </tbody>
              </table>
            </div>
            <% } %>
          </div>
        </section>
      </main>
      <%- include('../partials/footer.ejs') %>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"
    ></script>
    <script src="/js/setActiveNavLink.js"></script>
    <script src="/js/validateForms.js"></script>
  </body>
</html>
